# .upsun/config.yaml
services:
  database:
    type: postgresql:15

applications:
  ll_project:
    type: "python:3.12"

    web:
      upstream:
        socket_family: unix
      commands:
        start: "gunicorn -b unix:$SOCKET ll_project.wsgi:application"
      locations:
        "/":
          passthru: true
        "/static":
          root: "static"
          allow: true
          expires: 1h

    relationships:
      database: "database:postgresql"

    hooks:
      build: |
        set -eux
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt -r requirements_remote.txt
      deploy: |
        set -eux
        python manage.py collectstatic --noinput
        python manage.py migrate

    mounts:
      "var/log":
        source: instance
        source_path: logs
